In [18]:
import pandas as pd

In [24]:
df = pd.read_csv("aggregate_travel_time.csv")
df2 = pd.read_csv("median_income.csv")
df3 = pd.read_csv("percent_bachelor_or_higher.csv")

In [25]:
df = df.drop(columns = ["GEO.id","GEO.id2"])
df2 = df2.drop(columns = ["GEO.id","GEO.id2"])
df3 = df3.drop(columns = ["GEO.id","GEO.id2"])

In [26]:
df_main0 = pd.merge(df,df2, on = "GEO.display-label")
df_main = pd.merge(df_main0, df3, on = "GEO.display-label")

In [ ]:
headers = df_main.iloc[0]
df_main_new = pd.DataFrame(df_main.values[1:], columns = headers)

df_main_new = df_main["city","agg_commute","house_income_median", "bachelors_or_higher_percent"]

In [22]:
df = df.drop(columns = ["GEO.id","GEO.id2"])
df2 = df2.drop(columns = ["GEO.id","GEO.id2"])
df3 = df3.drop(columns = ["GEO.id","GEO.id2"])

In [27]:
df_main = df_main["","",""]

,GEO.display-label,HD01_VD01,HC03_EST_VC02,HC02_EST_VC18
0,Geography,Estimate; Aggregate travel time to work (in mi...,Median income (dollars); Estimate; Households,Percent; Estimate; Percent bachelor's degree o...
1,"Abilene, TX Metro Area",1265455,48156,21.5
2,"Akron, OH Metro Area",7633090,53418,30.7
3,"Albany, GA Metro Area",1188885,40612,19.5
4,"Albany, OR Metro Area",1058865,49515,18.6
5,"Albany-Schenectady-Troy, NY Metro Area",9681710,65743,36.1
6,"Albuquerque, NM Metro Area",8991725,50781,31.2
7,"Alexandria, LA Metro Area",1398590,42275,18.3
8,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",10595465,62479,28.3
9,"Altoona, PA Metro Area",1085885,45664,20.3
10,"Amarillo, TX Metro Area",2253290,53665,23.5
11,"Ames, IA Metro Area",838735,52671,50.6
12,"Anchorage, AK Metro Area",4210540,80724,31.0
13,"Ann Arbor, MI Metro Area",4005300,65618,54.3
14,"Anniston-Oxford-Jacksonville, AL Metro Area",1113310,43686,17.9
15,"Appleton, WI Metro Area",2388520,63415,28.4
16,"Asheville, NC Metro Area",4011825,48159,34.1
17,"Athens-Clarke County, GA Metro Area",1883285,42418,36.4
18,"Atlanta-Sandy Springs-Roswell, GA Metro Area",79338705,61733,37.0
19,"Atlantic City-Hammonton, NJ Metro Area",2955915,57514,26.6
20,"Auburn-Opelika, AL Metro Area",1515950,47564,34.9
21,"Augusta-Richmond County, GA-SC Metro Area",5712830,49064,24.9
22,"Austin-Round Rock, TX Metro Area",25560295,69717,42.9
23,"Bakersfield, CA Metro Area",7469095,50826,15.8
24,"Baltimore-Columbia-Towson, MD Metro Area",40829875,75646,38.7
25,"Bangor, ME Metro Area",1542085,47886,26.2
26,"Barnstable Town, MA Metro Area",2223625,68048,41.7
27,"Baton Rouge, LA Metro Area",9826155,55329,27.6
28,"Battle Creek, MI Metro Area",1112470,46213,21.0
29,"Bay City, MI Metro Area",970990,45983,19.0
...,...,...,...,...
353,"Urban Honolulu, HI Metro Area",13861265,80078,34.0
354,"Utica-Rome, NY Metro Area",2503580,50814,23.2
355,"Valdosta, GA Metro Area",1168020,38448,22.5
356,"Vallejo-Fairfield, CA Metro Area",5919985,72950,25.6
357,"Victoria, TX Metro Area",895060,55837,19.4
358,"Vineland-Bridgeton, NJ Metro Area",1427575,50000,14.4
359,"Virginia Beach-Norfolk-Newport News, VA-NC Met...",19920400,61889,30.8
360,"Visalia-Porterville, CA Metro Area",3688005,44871,13.8
361,"Waco, TX Metro Area",2223440,45721,22.1
362,"Walla Walla, WA Metro Area",419840,52184,28.9
363,"Warner Robins, GA Metro Area",1717655,52997,23.8
364,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",105261380,97148,49.9
365,"Waterloo-Cedar Falls, IA Metro Area",1397775,53689,27.7
366,"Watertown-Fort Drum, NY Metro Area",889415,50322,21.4
367,"Wausau, WI Metro Area",1300330,56509,24.5
368,"Weirton-Steubenville, WV-OH Metro Area",1219705,44576,16.6
369,"Wenatchee, WA Metro Area",893375,55236,23.5
370,"Wheeling, WV-OH Metro Area",1333325,45625,20.6
371,"Wichita, KS Metro Area",5744770,53953,30.0
372,"Wichita Falls, TX Metro Area",1076640,46558,22.1
373,"Williamsport, PA Metro Area",1037595,50634,22.1
374,"Wilmington, NC Metro Area",2677055,51137,36.1
375,"Winchester, VA-WV Metro Area",1877995,60350,25.9
376,"Winston-Salem, NC Metro Area",6500090,47099,26.3
377,"Worcester, MA-CT Metro Area",12465675,68311,34.0
378,"Yakima, WA Metro Area",1848765,47470,15.9
379,"York-Hanover, PA Metro Area",5698275,61707,23.7
380,"Youngstown-Warren-Boardman, OH-PA Metro Area",5037675,44947,21.3
381,"Yuba City, CA Metro Area",1774415,53101,17.0
382,"Yuma, AZ Metro Area",1452400,43253,14.3

In [33]:
df_main.values[1:]

array([['Abilene, TX Metro Area', '1265455', '48156', '21.5'],
       ['Akron, OH Metro Area', '7633090', '53418', '30.7'],
       ['Albany, GA Metro Area', '1188885', '40612', '19.5'],
       ...,
       ['Youngstown-Warren-Boardman, OH-PA Metro Area', '5037675',
        '44947', '21.3'],
       ['Yuba City, CA Metro Area', '1774415', '53101', '17.0'],
       ['Yuma, AZ Metro Area', '1452400', '43253', '14.3']], dtype=object)